{% extends 'layout/base.html'%}

{% block content %}
    <h1>about</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat eveniet fugiat quas dolor totam tempore error ex ad minus in magni optio ab nobis, quae eum impedit natus voluptate? Consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis totam alias ut quos officia, facilis reprehenderit, voluptas quisquam vitae blanditiis eos ipsum. Dolores nulla porro provident unde enim corporis obcaecati?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus itaque vero temporibus voluptatibus doloribus ea totam repudiandae commodi numquam incidunt dicta quod quibusdam unde, ipsum id corrupti, perspiciatis explicabo ipsam?</p>
    <span>Develope : fazt</span>
{% endblock %}
